:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 500%;
  min-width: 500px;
}

mat-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

mat-card {
  box-shadow: 0 0 100px rgba(159, 119, 230, 0.878);



}


mat-card-content {
  display: flex;
  justify-content: center;

}

mat-form-field {
  width: 20%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  border-radius: 100px
}

form {
  padding: 16px;
  width: 500px;

}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;

}

.fs-3 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: large;
  color: #2196F3;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #3216d1e5;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  /* Độ rộng của nút */
  margin: 0 auto;
  /* Căn giữa nút trong phần tử chứa */
}

/* Custom styles for the dropdown */
.form-select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: small;
  transition: border-color 0.3s ease;
}

.form-select:focus {
  border-color: #007bff;
}
