<div class="table-box mat-elevation-z4">
  <table id="season-tble" class=""hidden>
    <tr></tr>
    <tr>
      <th>STT</th>
      <th>Họ Tên</th>
      <th>Tài khoản</th>
      <th>Mã đăng ký</th>
      <th>Điểm nghe</th>
      <th>Điểm đọc</th>
      <th>Điểm viết</th>
      <th>Điểm nói</th>
    </tr>
    <tr *ngFor="let data of dataExel; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.hoTen }}</td>
      <td>{{ data.tenDangNhap }}</td>
      <td>{{ data.maDangKy }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <mat-form-field appearance="outline" class="search">
    <mat-label>Tìm kiếm</mat-label>
    <input
      matInput
      placeholder="Nhập nội dung tìm kiếm..."
      [(ngModel)]="searchTerm"
      class="example-full-width"
    />
    <mat-icon (click)="onSearch()" matSuffix color="search">search</mat-icon>
    <mat-icon (click)="refresh()" matSuffix color="search">refresh</mat-icon>
  </mat-form-field>
  <mat-icon  (click)="exportToExcel()" class="back-icon" >file_download</mat-icon>
  <mat-icon  (click)="importExcel()" class="back-icon" >file_upload</mat-icon>
  <mat-table [dataSource]="danhSachGiaoVien" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="STT">
      <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="taiKhoan.hoTen">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Họ tên</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.taiKhoan?.hoTen }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="taiKhoan.gioiTinh">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Giới tính</mat-header-cell
      >
      <mat-cell *matCellDef="let item">
        {{ item.taiKhoan?.gioiTinh }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="taiKhoan.soDienThoai">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SĐT</mat-header-cell>
      <mat-cell *matCellDef="let item">
        {{ item.taiKhoan?.soDienThoai }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nhapDiem">
      <mat-header-cell *matHeaderCellDef>Nhập điểm</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-icon
          matTooltip="Nhập điểm"
          *ngIf="trangThai !== 1"
          (click)="nhapDiem(item)"
          >add_circle
        </mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Chỉnh sửa</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-icon
          matTooltip="Chỉnh sửa điểm"
          *ngIf="trangThai !== 1"
          (click)="chinhSuaDiem(item)"
          >edit
        </mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="xem">
      <mat-header-cell *matHeaderCellDef>Xem điểm</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-icon
          matTooltip="Xem điểm"
          *ngIf="trangThai !== 1"
          (click)="xemDiem(item)"
          >remove_red_eye
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item">

        <mat-icon matTooltip="Thông tin học viên" (click)="detail(item)"
          >infor
        </mat-icon>

      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
