/* Style cho form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Style cho tiêu đề */
h1 {
  /* Màu xanh của Material Design */
  margin-bottom: 20px;
}

/* Style cho nội dung dialog */
div[mat-dialog-content] {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Style cho label */
label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

/* Style cho input file */
input[type="file"] {
  border: 1px solid #ccc;
  padding: 6px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Style cho mat-form-field */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

/* Style cho các nút hành động */
div[mat-dialog-actions] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 20px 20px;
}

/* Style cho nút Lưu */
button[color="primary"] {
  font-weight: bold;
  margin-right: 200px;
  /* Blue color */
}


button[color="warn"] {
  font-weight: bold;
  margin-left: 200px;
  /* Orange color */
}
