<div class="page-header">
  <h1>Thông Báo</h1>
</div>
<div *ngIf="!ThongBaos; else notificationsList" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<ng-template #notificationsList>
  <div class="flex">
    <mat-card class="notifications-list chuadoc">
      <mat-table [dataSource]="TBChuaDoc" matSort>
        <ng-container matColumnDef="tieuDe">
          <mat-header-cell *matHeaderCellDef>Chưa đọc</mat-header-cell>
          <mat-cell
            (click)="handleNotificationClick(thongBao)"
            *matCellDef="let thongBao"
          >
            {{ thongBao.tieuDe }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ngayTao">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell
            (click)="handleNotificationClick(thongBao)"
            *matCellDef="let thongBao"
          >
            {{ thongBao.ngayTao | date : "dd/MM/yyyy" }}
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: 'header-1'"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card>

    <mat-card class="notifications-list dadoc">
      <mat-table [dataSource]="TBDaDoc" matSort>
        <ng-container matColumnDef="tieuDe">
          <mat-header-cell *matHeaderCellDef>Đã đọc</mat-header-cell>
          <mat-cell
            (click)="handleNotificationClick(thongBao)"
            *matCellDef="let thongBao"
          >
            {{ thongBao.tieuDe }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ngayTao">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell
            (click)="handleNotificationClick(thongBao)"
            *matCellDef="let thongBao"
          >
            {{ thongBao.ngayTao | date : "dd/MM/yyyy" }}
          </mat-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: 'header-1'"
        ></mat-header-row>
        <mat-row
          matRipple
          *matRowDef="let row; columns: displayedColumns"
        ></mat-row>
      </mat-table>
    </mat-card>
  </div>
  <div class="button-container">
    <button mat-button color="warn" (click)="handleDeleteAll()">
      Xóa tất cả thông báo đã đọc
    </button>
  </div>
</ng-template>
