<div class="table-box mat-elevation-z4" >
  <mat-form-field appearance="outline" class="search">
    <mat-label>Tìm kiếm</mat-label>
    <input
      matInput
      placeholder="Nhập nội dung tìm kiếm..."
      [(ngModel)]="searchTerm"
      class="example-full-width"
    />
    <mat-icon (click)="onSearch()" matSuffix color="search">search</mat-icon>
    <mat-icon (click)="refresh()" matSuffix color="search">refresh</mat-icon>
  </mat-form-field>
  <!-- <button
    mat-stroked-button
    color="primary"
    class="align-right-button"
    (click)="addClass()"
  >
    Thêm mới <mat-icon>add_circle </mat-icon>
  </button> -->

  <div *ngIf="!checkEmtyList">
  <mat-table [dataSource]="danhSachLichThi" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="stt">
      <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ngayThi">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Ngày thi</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.ngayThi | date : " dd/MM/yyyy" }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="caThi">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Ca thi</mat-header-cell
      >
      <mat-cell *matCellDef="let item">
        {{ item.caThi }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phong">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Phòng</mat-header-cell
      >
      <mat-cell *matCellDef="let item">
        {{ item.phong?.tenPhong }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-icon matTooltip="Danh sách học viên"(click)="dsHv(item)">people </mat-icon>
        <mat-icon matTooltip="Cập nhật file điểm danh" (click)="taiLen(item.maLichThi)"
        >system_update
      </mat-icon>
      <mat-icon matTooltip="Tải file điểm danh" (click)="taiXuong(item.maLichThi)"
      >save_alt
    </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
    matRipple
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{
      'online-class': row.hinhThucHoc === 'Online',
      'offline-class': row.hinhThucHoc === 'Offline'
    }"
  ></mat-row>

  </mat-table>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
<div *ngIf="checkEmtyList" class="empty-list-message">Không có dữ liệu.</div>
</div>

