<mat-card>
  <div class="container content-home" *ngIf="dataHV; else NoData">
    <div class="center-section">
      <mat-card class="student-info-card"
        ><mat-card-header class="center-title">
          <div class="card-title">Thông tin cá nhân</div>
        </mat-card-header>
        <button mat-stroked-button color="primary" class="align-right-button" (click)="editHoSo(dataHV)"  >
          Chỉnh sửa <mat-icon>edit</mat-icon>
        </button>
        <div class="info-columns">
          <div class="info-column">
            <mat-list>
              <mat-list-item>
                <span class="label">Tên đăng nhập:</span>
                <span class="field-infor" >{{
                  dataHV.taiKhoan.tenDangNhap
                }}</span>
              </mat-list-item>
              <mat-list-item>
                <span class="label">Họ tên:</span>
                <span class="field-infor">{{ dataHV.taiKhoan.hoTen }}</span>
              </mat-list-item>
              <mat-list-item>
                <span class="label">Email:</span>
                <span class="field-infor">{{ dataHV.taiKhoan.email }}</span>
              </mat-list-item>
              <mat-list-item>
                <span class="label">Số điện thoại:</span>
                <span class="field-infor">{{
                  dataHV.taiKhoan.soDienThoai
                }}</span>
              </mat-list-item>
              <mat-list-item>
                <span class="label">Địa chỉ:</span>
                <span class="field-infor">{{ dataHV.taiKhoan.diaChi }}</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="info-column">
            <mat-list>
              <mat-list-item>
                <span class="label">Ngày sinh:</span>
                <span class="field-infor">{{
                  dataHV.taiKhoan.ngaySinh | date : " dd/MM/yyyy"
                }}</span>
              </mat-list-item>
              <mat-list-item>
                <span class="label">Giới Tính:</span>
                <span class="field-infor">{{ dataHV.taiKhoan.gioiTinh }}</span>
              </mat-list-item>
              <mat-list-item *ngIf="roles ==='HocVien'">
                <span class="label">Lớp:</span>
                <span class="field-infor" >{{ dataHV.lop }}</span>
              </mat-list-item >
              <mat-list-item *ngIf="roles ==='HocVien'">
                <span class="label">Trường học:</span>
                <span class="field-infor">{{ dataHV.truongHoc }}</span>
              </mat-list-item>
              <mat-list-item *ngIf="roles ==='HocVien'">
                <span class="label">SĐT người thân:</span>
                <span class="field-infor">{{ dataHV.soDTNguoiThan }}</span>
              </mat-list-item>
                <mat-list-item *ngIf="roles ==='GiaoVien'">
                <span class="label">Kinh nghiệm:</span>
                <span class="field-infor">{{ dataHV.kinhNghiem }}</span>
              </mat-list-item>
              <!-- Tương tự cho các thông tin khác -->
            </mat-list>
          </div>
        </div>
      </mat-card>

      <!-- Additional mat-card for family info, advisory info can go here -->
    </div>
  </div>
  <ng-template #NoData> </ng-template>
</mat-card>
