<h1 mat-dialog-title>
  Thông tin
  <hr />
</h1>

<div mat-dialog-content class="table-container">
  <div class="table">
    <!-- Separate row for the header -->
    <div class="table-row">
      <div class="table-header">Giáo viên gác thi:</div>
    </div>
    <!-- Rows for each teacher -->
    <div class="table-row" *ngFor="let giaoVien of danhSachGiaoVienGacThi">
      <div class="table-cell">{{ giaoVien.taiKhoan.hoTen }}</div>
    </div>

    <!-- Separate row for the header -->
    <div class="table-row">
      <div class="table-header">Giáo viên lên điểm:</div>
    </div>
    <!-- Rows for each teacher -->
    <div class="table-row" *ngFor="let gvLenDiem of danhSachGiaoVienLenDiem">
      <div class="table-cell">{{ gvLenDiem.taiKhoan.hoTen }}</div>
    </div>

    <div class="table-row">
      <div class="table-header">Phòng:</div>
      <div class="table-cell">{{ data.item.phong.tenPhong }}</div>
    </div>

  </div>
</div>
<div mat-dialog-actions>
  <button
    style="margin-left: 220px; margin-bottom: 8px"
    mat-stroked-button
    color="warn"
    (click)="closePopup()"
    mat-stroked-button
    color="warn"
  >
    Đóng
  </button>
</div>
