<div class="table-box mat-elevation-z4">

  <mat-form-field appearance="outline" class="search">
    <mat-label>Tìm kiếm</mat-label>
    <input
      matInput
      placeholder="Nhập nội dung tìm kiếm..."
      [(ngModel)]="searchTerm"
      class="example-full-width"
    />
    <mat-icon (click)="onSearch()" matSuffix color="search">search</mat-icon>
    <mat-icon (click)="refresh()" matSuffix color="search">refresh</mat-icon>
  </mat-form-field>
 <div class="form-fields">

</div>



  <mat-table [dataSource]="danhSachTaiLieu" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="stt">
      <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fileTaiLieu">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Tên file</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.fileTaiLieu }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="loaiLop">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Loại lớp</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.loaiLop.tenLoaiLop }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="taiFile(item.maTaiLieu)">
          <mat-icon>file_download</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
