

<footer class="text-center text-lg-start text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Đăng ký ngay các khóa học nổi bậc để cải thiện trình độ Tiếng Anh! </span
      >
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h2 class="text-uppercase fw-bold mb-4">ĐĂNG KÝ TRỰC TUYẾN</h2>
          <p>
            Dễ dàng kết nối với các thầy cô có chuyên môn cao đến từ các
           trường đại học nổi tiếng và uy tín
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4">NỔI BẬC</h2>
          <p>
            <a href="#!" class="text-reset">Luyện thi chứng chỉ B1 </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Luyện thi TOEIC 450</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Luyện thi IELTS</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Luyện thi chứng chỉ C1 </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4">CÁC KHÓA HỌC</h2>
          <p>
            <li>Khóa học IELTS</li>
          </p>
          <p>
            <li>Khóa học TOEIC</li>
          </p>
          <p>
            <li>Khóa học TOEIC 450</li>
          </p>
          <p>
            <li>Khóa học VSTEP B1</li>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4">Contact</h2>
          <p>
            <i class="fas fa-home me-3 text-secondary"></i> Việt Nam, VN 10012,
            US
          </p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            hocanhngu@gmail.com
          </p>
          <p>
            <i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88
          </p>
          <p>
            <i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89
          </p>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image rounded">
            <img src="https://api.logo.com/api/v2/images?logo=logo_63a80db5-aaea-4ea3-a28a-f07d2fb1768f&format=webp&margins=0&quality=60&width=500&background=transparent&u=1691842768"
              class="w-100" />
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >MDDayhocAnhngu.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
