mat-list-item {
  border-style: dashed;
  border-color: #aeb2b8;
  border-width: 1px;
  /* Màu và độ rộng gạch có thể tùy chỉnh */
  padding-bottom: 10px;
  /* Khoảng cách dưới mỗi mục */
}

.left-section {
  flex: 2;
  padding-right: 1rem;
  /* Space between left and right section */
}

.right-section {
  flex: 2;
  /* This will take up twice as much space as the left section */
  padding-left: 1rem;
  /* Space between right and left section */
}

.field-infor {
  font-weight: 500;
  color: #0E4A92;
  margin-left: 10px;
}

.label {
  display: inline-block;
  width: 120px;
  background-color: #e0dbdb;
}

mat-card-header mat-card-title {
  color: #0E4A92;

}

.card-title {

  font-size: 20px;
  /* Điều chỉnh kích thước tiêu đề theo ý muốn */
  font-weight: bold;
  /* Điều chỉnh độ đậm của tiêu đề theo ý muốn */
  color: #0E4A92;
  /* Điều chỉnh màu tiêu đề theo ý muốn */
  text-align: center;
  /* Đặt văn bản ở giữa tiêu đề */
  padding: 10px;
  /* Điều chỉnh khoảng cách xung quanh tiêu đề */
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

mat-card .student-info-card {
  border: 1px solid #aeb2b8;
  box-shadow: 0 0 100px rgba(97, 147, 240, 0.878);
  /* Add a 1px solid blue border */
}

mat-card {
  border: 1px solid #aeb2b8;
  /* Add a 1px solid blue border */
  padding: 20px;
  /* Increase the padding to make the card larger */
  margin: 20px;
  /* Add margin to create space around the card */
}

.container.content-home {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media (min-width: 900px) {
  .container.content-home {
    flex-direction: row;
  }

}


.info-columns {
  display: flex;
  justify-content: space-between;

}
