<p>hihi</p>

<!--

<mat-list>
  <div style="height: 60px; border-bottom: 2px solid #ffffff; text-align: center;">
    <img src="https://api.logo.com/api/v2/images?logo=logo_517f290c-2655-4b5c-b818-a48cbf6c95be&format=webp&margins=0&quality=60&width=500&background=transparent&u=1691841197" alt="" width="160px" height="55px" >
  </div>
  <mat-list-item>
    <a routerLink="/home" routerLinkActive="active-link">
      <mat-icon>home</mat-icon> <span>TRANG CHỦ</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a (click)="toggleMenu()" routerLinkActive="active-link">
      <mat-icon>person</mat-icon> <span>QUẢN LÝ TÀI KHOẢN</span>
      <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="showMenu">expand_more</mat-icon>
    </a>
  </mat-list-item>
  <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
    <a mat-list-item routerLink="/giaovien" routerLinkActive="active-link">
      <span>GIÁO VIÊN</span>
    </a>
    <a mat-list-item routerLink="/hocvien" routerLinkActive="active-link">
      <span>HỌC VIÊN</span>
    </a>
  </mat-nav-list>
  <mat-list-item>
    <a routerLink="/khoahoc" routerLinkActive="active-link">
      <mat-icon>local_library</mat-icon> <span>QUẢN LÝ KHÓA HỌC</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/lophoc" routerLinkActive="active-link">
      <mat-icon>layers</mat-icon> <span>QUẢN LÝ LỚP HỌC</span>
    </a>
  </mat-list-item>
   <mat-list-item>
    <a routerLink="/phonghoc" routerLinkActive="active-link">
      <mat-icon>classroom</mat-icon> <span>QUẢN LÝ PHÒNG HỌC</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/quanlydiem" routerLinkActive="active-link">
      <mat-icon>star</mat-icon> <span>QUẢN LÝ ĐIỂM</span>
    </a>
  </mat-list-item>
</mat-list> -->
