/* Style cho form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Style cho tiêu đề */
h1 {
  color: #3f51b5;
  /* Màu xanh của Material Design */
  margin-bottom: 20px;
}

/* Style cho nội dung dialog */
div[mat-dialog-content] {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Style cho label */
label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

/* Style cho input file */

/* Style cho mat-form-field */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

/* Style cho các nút hành động */
div[mat-dialog-actions] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 20px 20px;
}

/* Style cho nút Lưu */
button[type="submit"] {
  font-weight: bold;
  margin-left: 200px;
  /* Blue color */
}


button[color="warn"] {
  font-weight: bold;
  margin-right: 220px;
  /* Orange color */
}

/* Đảm bảo rằng form không bị ảnh hưởng khi thu nhỏ màn hình */
@media screen and (max-width: 768px) {

  .mat-mdc-form-field,
  .mat-50 {
    width: 100%;
    /* Sử dụng 100% chiều rộng cho các trường form */
    margin: 0;
    /* Không cần margin */
  }

  button[type="submit"],
  button[color="warn"] {
    margin-left: 0;
    /* Loại bỏ margin-left */
    margin-top: 10px;
    /* Điều chỉnh khoảng cách trên cùng */
  }
}
