
<h1 mat-dialog-title>
  Danh sách phòng thi
  <hr />
</h1>
<mat-card>
  <div class="mat-elevation-z8" *ngIf="phong.length > 0; else noDataTemplate">

    <table mat-table [dataSource]="phong" class="mat-elevation-z8">
      <!-- Tên Vai Trò Column -->
      <ng-container matColumnDef="tenPhong">
        <th mat-header-cell *matHeaderCellDef>Tên Phòng</th>
        <td mat-cell *matCellDef="let element">{{ element.tenPhong }}</td>
      </ng-container>

      <!-- Mô Tả Column -->
      <ng-container matColumnDef="kiHieu">
        <th mat-header-cell *matHeaderCellDef>Kí hiệu</th>
        <td mat-cell *matCellDef="let element">{{ element.kiHieu }}</td>
      </ng-container>
      <ng-container matColumnDef="sucChua">
        <th mat-header-cell *matHeaderCellDef>Sức chứa</th>
        <td mat-cell *matCellDef="let element">{{ element.sucChua }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Chọn</th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="chon(element.maPhong)">Chọn</button></td>
      </ng-container>
      <!-- Thêm các cột khác tùy theo nhu cầu của bạn -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <ng-template #noDataTemplate>
    <div class="no-data-warning">
      <p>Chưa có lớp học đã sắp lịch cho khóa học này.</p>
    </div>
  </ng-template>
  <div mat-dialog-actions>
    <button style="margin-left: 150px;margin-bottom: 8px;" (click)="closePopup()" mat-stroked-button color="warn">Đóng</button>
  </div>
</mat-card>
