ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

mat-card {
  background-color: #072f9e;
  border: 1px solid #fcebeb;
  height: 60px;
  padding: 5px 0;
}

mat-card-header {
  padding: 0;
}

mat-card-title {
  color: #ffffff;
  font-size: 23px;
  padding-left: 40px;
}

hr {
  border: 2px solid #ffffff;
  margin-top: 2px;
}
