<h1 mat-dialog-title>
  Chi tiết Thông Báo
  <hr />
</h1>
<div mat-dialog-content>
  <p class="text">{{ data.notification.noiDung }}</p>
  <p class="green-text">
    {{ data.notification.ngayTao | date : "HH:mm:ss dd/MM/yyyy" }}
  </p>
  <button mat-button color="warn" (click)="handleDelete()">
    <mat-icon>delete</mat-icon>
    Xóa
  </button>
</div>
<div mat-dialog-actions>
  <button
    style="margin-left: 220px; margin-bottom: 8px"
    mat-stroked-button
    color="warn"
    (click)="closePopup()"
  >
    Đóng
  </button>
</div>
