<h2 mat-dialog-title>Chỉnh sửa </h2>
<div mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Họ tên" formControlName="hoTen" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Số điện thoại" formControlName="soDienThoai" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Địa chỉ" formControlName="diaChi" required />
    </mat-form-field>
     <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="ngaySinh" [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
      <mat-label>Giới tính</mat-label>
      <mat-select formControlName="gioiTinh">
        <mat-option value="Nam">Nam</mat-option>
        <mat-option value="Nu">Nữ</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Trường dành cho Học viên -->
    <mat-form-field appearance="outline" class="full-width" *ngIf="roles ==='HocVien'">
      <input matInput placeholder="Lớp" formControlName="lop" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" *ngIf="roles === 'HocVien'">
      <input matInput placeholder="Trường học" formControlName="truongHoc" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" *ngIf="roles === 'HocVien'">
      <input matInput placeholder="SĐT người thân" formControlName="soDTNguoiThan" required />
    </mat-form-field>
    <!-- Trường dành cho Giáo viên -->
    <mat-form-field appearance="outline" class="full-width" *ngIf="roles === 'GiaoVien'">
      <input matInput placeholder="Kinh nghiệm" formControlName="kinhNghiem" required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Hủy</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid" (click)="onSubmit()">
    Lưu
  </button>
</div>
