<h1 mat-dialog-title>Thông tin chi tiết<hr></h1>

<div mat-dialog-content class="table-container">
  <div class="table">
    <div class="table-row">
      <div class="table-header">Họ Tên:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.hoTen }}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Tên đăng nhập:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.tenDangNhap }}</div>
    </div>
    <!-- Thêm các dòng khác tương tự ở đây -->
    <div class="table-row">
      <div class="table-header">Email:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.email }}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Số điện thoại:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.soDienThoai }}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Địa chỉ:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.diaChi }}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Giới Tính:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.gioiTinh }}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Ngày Sinh:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.ngaySinh  | date : " dd/MM/yyyy"}}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Trình độ:</div>
      <div class="table-cell">{{ data.giaoVien?.trinhDo }}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Ngày Tạo:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.ngayTao  | date : "HH:mm:ss dd/MM/yyyy" }}</div>
    </div>
    <div class="table-row">
      <div class="table-header">Ngày Cập nhật:</div>
      <div class="table-cell">{{ data.giaoVien?.taiKhoan?.ngayCapNhat  | date : "HH:mm:ss dd/MM/yyyy" }}</div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button style="margin-left: 200px;margin-bottom: 8px;"  mat-stroked-button color="warn" (click)="closePopup()">Đóng</button>
</div>
