<div class="table-box mat-elevation-z4">
  <mat-form-field appearance="outline" class="search">
    <mat-label>Tìm kiếm</mat-label>
    <input
      matInput
      placeholder="Nhập nội dung tìm kiếm..."
      [(ngModel)]="searchTerm"
      class="example-full-width"
    />
    <mat-icon (click)="onSearch()" matSuffix color="primary">search</mat-icon>
    <mat-icon (click)="refresh()" matSuffix color="warn">refresh</mat-icon>
  </mat-form-field>

  <mat-table [dataSource]="danhSachDKKhoaHoc" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="stt">
      <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hocVien.taiKhoan.tenDangNhap">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Mã học viên</mat-header-cell
      >
      <mat-cell *matCellDef="let DangKyKH">{{
        DangKyKH.hocVien.taiKhoan.tenDangNhap
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hocVien.taiKhoan.hoTen">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Tên học viên</mat-header-cell
      >
      <mat-cell *matCellDef="let DangKyKH">{{
        DangKyKH.hocVien.taiKhoan.hoTen
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="khoaHoc.tenKhoaHoc">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Tên khóa học</mat-header-cell
      >
      <mat-cell *matCellDef="let DangKyKH">{{
        DangKyKH.khoaHoc.tenKhoaHoc
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ngayDangKy">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Ngày đăng ký</mat-header-cell
      >
      <mat-cell *matCellDef="let DangKyKH">{{
        DangKyKH.ngayDangKy | date : "dd/MM/yyyy"
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="trangThaiDangKyHoc">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Trạng thái</mat-header-cell
      >
      <mat-cell
        *matCellDef="let DangKyKH"
        [ngStyle]="getStatusColor(DangKyKH.trangThaiDangKyHoc)"
      >
        {{ translateStatus(DangKyKH.trangThaiDangKyHoc) }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let DangKyKH">
        <button
          *ngIf="DangKyKH.trangThaiDangKyHoc === 'DA_DUYET'"
          mat-stroked-button
          color="primary"
          (click)="layDanhSachLopHoc(DangKyKH, 'them')"
        >
          Phân lớp
        </button>
        <button
          *ngIf="DangKyKH.trangThaiDangKyHoc === 'DA_PHAN_LOP'"
          mat-stroked-button
          color="primary"
          (click)="layDanhSachLopHoc(DangKyKH, 'chuyen')"
        >
          Chuyển lớp
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
