
<div *ngIf="!ThongBaos; else notificationsList"></div>

<mat-tab-group>
  <ng-template #notificationsList>
    <mat-tab label="Chưa đọc">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step *ngFor="let thongBao of TBChuaDoc">
          <ng-template matStepLabel>
          <span class="text">{{ thongBao.tieuDe }}</span>
          </ng-template>
          <form [formGroup]="firstFormGroup">
           <span class="green-text">{{ thongBao.ngayTao | date : "dd/MM/yyyy" }}</span>
            <div>
              <button  mat-button  color="accent"  (click)="handleNotificationClick(thongBao)">
                Xem chi tiết...
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </mat-tab>

    <mat-tab label="Đã đọc">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper2>
        <mat-step *ngFor="let thongBao of TBDaDoc">
          <ng-template matStepLabel>
           <span class="text">{{ thongBao.tieuDe }}</span>
          </ng-template>
          <form [formGroup]="secondFormGroup">
          <span class="green-text">{{ thongBao.ngayTao | date : "dd/MM/yyyy" }}</span>
            <div>
              <button  mat-button  color="accent"   (click)="handleNotificationClick(thongBao)">
                Xem chi tiết...
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      <div class="button-container">
        <button mat-stroked-button  color="warn" (click)="handleDeleteAll()">
          <mat-icon>delete</mat-icon>
          Xóa tất cả
        </button>
      </div>
    </mat-tab>
  </ng-template>
</mat-tab-group>
