.slider-container {
  position: relative;
  margin-top: 100px;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 146, 168, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
}

.overlay p {
  font-size: 28px;
  margin-bottom: 2px;
  color: rgb(214, 214, 114);
  text-shadow: 2px 2px 4px rgba(90, 223, 73, 0.8);
  font-weight: bold;
}

.overlay h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #f7efef;
}

.overlay h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 10px auto;
}

 .card-body li{
  color: #0056b3;
}
.overlay h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 10%;
}



.button-container button {
  transition: background-color 0.3s ease;
}

.button-container button:hover,
.button-container button:focus {
  background-color: rgb(39, 201, 241);
  /* Màu nền khi hover hoặc focus */
}

/* Điều chỉnh một số kiểu dáng chung */
body {
  background-color: #f8f9fa;
}


/* Tùy chỉnh card */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.car-img-top rounded-circle {
  object-fit: cover;
  height: 150px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

/* Điều chỉnh margin giữa các card */
.col-md-3 {
  margin-bottom: 20px;
}

/* Điều chỉnh màu sắc nút bấm */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Điều chỉnh màu sắc khi hover trên tiêu đề card */
.card-title:hover {
  color: #007bff;
}


/* Tạo một lớp mới cho phần counter để tùy chỉnh kiểu chung */
.counter-section {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.counter-section h2 {
  color: #fff;
  margin-bottom: 20px;
}

/* Thiết lập kiểu cho các phần counter */
.counter-wrap {
  padding: 20px;
  text-align: center;
}

.counter-wrap .icon {
  font-size: 36px;
  color: #007bff;
}

.counter-wrap .number {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.counter-wrap span {
  font-size: 16px;
  color: #666;
}

/* Hiệu ứng hover khi di chuột vào phần counter */
.counter-wrap:hover .icon,
.counter-wrap:hover .number {
  color: #ff9900;
}

/* Hiệu ứng animate cho phần counter */
@keyframes count-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.counter-wrap.ftco-animate {
  animation: count-up 1s ease-in-out;
}

h2 {
  color: yellow;
  font-size: xx-large;
}

/* bảng */
.container {
  display: flex;
  justify-content: flex-end;
}

.lichkham {
  width: 40%;
  /* Điều chỉnh kích thước của phần bảng */
  /* Thêm các thuộc tính khác tùy theo thiết kế của bạn */
}

.mat-card {
  margin-top: 2px;
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* Thêm các thuộc tính khác tùy theo thiết kế của bạn */
}


.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toolbar-title {
  font-size: 20px;
}

.col-md-7 {
  margin-top: 10px;
  height: 100%;

}

.mat-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.mat-card-header {
  background-color: #4ea1ff;
  padding: 10px;
}

.mat-card-title {
  margin: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  align-items: center;
  /* Căn giữa theo chiều dọc */
}

.mat-card-content {
  padding: 10px;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-table th,
.mat-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.mat-table th {
  background-color: #c6dbf3;
}

.icon-button.delete-button {
  color: #ff0000;
}



.mat-stroked-button {
  margin-bottom: 10px;
}





/* CSS cho thẻ <h1> */
h4 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #3fc7d1;
  /* Màu chữ */
  margin-bottom: 20px;
  /* Khoảng cách dưới */
  text-align: center;
  /* Căn giữa nội dung */

}

/* Thay đổi màu chữ khi rê chuột qua */
h4:hover {
  color: #ff9900;
}


.card-container {
  display: flex;
  justify-content: center;
  margin-left: 20px;


}
