/* Định dạng hộp chứa bảng */
.table-box {

  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  margin: 16px;

}

/* Định dạng ô tìm kiếm */
/* Định dạng ô tìm kiếm */
.mat-form-field.search {
  flex: 1;
  max-width: 300px;
  /* Điều chỉnh chiều rộng tối đa của ô tìm kiếm */
  margin-right: 16px;
  /* Khoảng cách giữa ô tìm kiếm và nút tìm kiếm */
}

/* Định dạng input tìm kiếm */
mat-input {
  border-radius: 4px;
  /* Điều chỉnh góc bo tròn cho input */
}

/* Định dạng biểu tượng tìm kiếm và làm mới */
mat-icon {
  cursor: pointer;
  font-size: 24px;
  color: #064b8b;
}

/* Hover effect cho biểu tượng tìm kiếm và làm mới */
mat-icon:hover {
  color: #12135c;
}

/* Định dạng tiêu đề bảng */
mat-label {
  font-weight: bold;
  font-size: 16px;
}

/* Định dạng dòng tiêu đề của bảng */
.mat-header-row {
  background-color: #e0e0e0;
}

/* Định dạng cột STT */
.mat-cell.stt {
  font-weight: bold;
}

/* Định dạng dòng dữ liệu của bảng */
.mat-row {
  transition: background-color 0.2s ease-in-out;
}

/* Hiệu ứng hover cho dòng dữ liệu */
.mat-row:hover {
  background-color: #fafafa;
}

/* Định dạng phân trang */
mat-paginator {
  justify-content: center;
  margin-top: 16px;
}

/* Định dạng nút first và last của phân trang */
.mat-paginator .mat-paginator-range-actions .mat-paginator-navigation-icon {
  font-size: 24px;
}

.mat-mdc-table .mdc-data-table__header-row {
  background-color: #072f9e;
  border-radius: 100%;
  color: beige;
}

.align-right-button {
  float: right;
  justify-content: flex-end;
  /* Đặt nút bên phải */
  /* Khoảng cách phía dưới */
  margin-left: auto;
}

.back-icon {
  float: right;
  justify-content: flex-end;
  margin-left: auto;
  margin: 10px;

}
.hidden {
  display: none !important;
}
